*.iml
.gradle
*.pepk
*.json
build.gradle
key_hash.txt
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.png
*.jpg
*.gif
*.mp3
*.wav
*.jks
*.dxf
